#form{
    width: 500px;
    margin: 0 auto;
    border: 1px solid #cccccc;
    border-radius: 4px;
    margin-top: 30px;
}
label{
    font-weight: 600;    
}

/* warning p element */
.warning_p_element {
    border: 1px solid rgb(107, 6, 6);
    background: #ffe0e2;
    color: #632806;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    padding: 15px 15px;
    /* margin: 60px 80px -50px 80px; */
    font-family: sans-serif;
    width: 500px;
    margin: auto;
    position: fixed;
    top: 50px;
    z-index: 999;

  }

  .warning{
      margin-top: 30px;
  }
  p.warning.p-2 {
    z-index: +1;
    display: block;
}
.navbar{
    z-index: -1;
}